.info-progress{
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 30px;
}

.passage{
  margin: 0;
  padding: 0;
  list-style: none;
}
.info-progress__wrap{
  margin: 40px 0;
}
.progress__box{
  position: relative;
  margin: 20px 0;
  padding-left: 60px;
}
.progress__box::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: var(--yellow);
  transform: translateY(-50%);
}
@include media-md{
  .info-progress__title{
    text-align: center;
  }
  .info-progress__wrap{
    max-width: 1200px;
    margin: 0 auto;
  }
  .passage{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    align-items: flex-start;
  }
  .progress__box{
    width: calc(33.33% - 30px);
    margin: 15px;
    padding: 15px;
    box-shadow: -4px -4px 0 0 var(--yellow),
    20px 20px 60px #ceced1,
    -20px -20px 60px #ffffff;
    border-radius: 12px;
    background-color: var(--white3);

  }
  .progress__box::before{
    display: none;
  }
  .progress__box--big-box{
    width: calc(66.6% - 30px);
  }
}
@include media-lg{
  .info-progress__wrap{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .progress__box{
    width: calc(25% - 30px);
  }
  .progress__box--big-box{
    width: calc(50% - 30px);
  }
  .progress__subtitle{
    font-size: 20px;
    line-height: 1.5;
  }
}
